* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

h1 {
  text-align: center;
  color: #0a6b4e;
  font-size: 70px;
}

.colored {
  color: rgb(240, 112, 8);
  font-weight: 100;
}

header h2 {
  font-weight: 5em;
  color: #0a6b4e;
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
}

/* Barra de navegação */

nav {
  background-color: rgb(240, 112, 8);
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #0a6b4e;
}

/* Área de navegação */

main {
  text-align: center;
  margin-top: 50px;
}

.paragrafo-box {
  background-color: rgb(238, 162, 99);
  padding: 20px; /* Adiciona um espaçamento interno */
  margin-bottom: 20px; /* Adiciona espaço abaixo de cada caixa de parágrafo */
  margin-right: 75px;
  margin-left: 75px;
  border-radius: 10px; /* Adiciona bordas arredondadas */
  font-size: 1.3em;
}

.paragrafo-box1 {
  background-color: #34b991;
  padding: 20px; /* Adiciona um espaçamento interno */
  margin-bottom: 20px; /* Adiciona espaço abaixo de cada caixa de parágrafo */
  margin-right: 75px;
  margin-left: 75px;
  border-radius: 10px; /* Adiciona bordas arredondadas */
  font-size: 1.3em;
}

/* Login e Registro de usuário */

#form-container {
  display: flex;
  justify-content: center;
}

#login-form,
#register-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 50px 25px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.login {
  width: 100%;
  padding: 10px;
  background-color: #34b991;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  background-color: rgb(238, 162, 99);
}

/* Formulário */

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(240, 112, 8);
  border-radius: 10px;
}

input[type="text"],
select,
input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

/* botão de submeter formulário */
.submission {
  padding: 16px 32px;
  background-color: rgb(240, 112, 8);
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
}

.submission:hover {
  background-color: #0a6b4e;
}

/* botão de excluir */
button {
  margin-top: 25px;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
  color: red;
  background-color: wheat;
}

/* Rodapé */

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding-top: 50px;
}

/* Estilo para o container do catálogo */
#bookCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinha os livros com espaço uniforme entre eles */
  margin-top: 50px; /* Adiciona um espaço superior para separar o catálogo do formulário */
  margin-left: 20px;
  margin-right: 20px;
}

.livro {
  width: 30%; /*largura fix para cada livro */
  margin-bottom: 20px; /* Adiciona espaço abaixo de cada livro */
  box-sizing: border-box; /* Garante que a largura inclua a margem e o preenchimento */
  padding: 10px; /* Adiciona preenchimento interno */
  border: 2px solid #0a6b4e;
  border-radius: 10px;
}
