* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

h1 {
  text-align: center;
  color: #0a6b4e;
  font-size: 70px;
}

.colored {
  color: rgb(240, 112, 8);
  font-weight: 100;
}

header h2 {
  font-weight: 500;
  color: #0a6b4e;
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
}

/* Barra de navegação */

nav {
  background-color: rgb(240, 112, 8);
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #0a6b4e;
}

/* Área de navegação */

main {
  text-align: center;
  margin-top: 50px;
}

main h4 {
  font-size: 1.4em;
}

/* Formulário */

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(240, 112, 8);
  border-radius: 10px;
}

input[type="text"],
select,
input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

button {
  padding: 16px 32px;
  background-color: rgb(240, 112, 8);
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
}

button:hover {
  background-color: #0a6b4e;
}

/* Rodapé */

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding-top: 50px;
}

/* Estilo para o container do catálogo */
#bookCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinha os livros ao redor com espaço uniforme */
  margin-top: 20px; /* Adiciona um espaço superior para separar o catálogo do formulário */
}

/* Estilo para cada livro */
.book {
  width: 30%; /* Largura fixa para cada livro */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Espaçamento inferior entre os livros */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilo para o texto do livro */
.book p {
  margin: 5px 0;
}
