* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

h1 {
  /* text-align: center; */
  color: #0a6b4e;
  font-size: 70px;
  margin: 0;
}

header {
  text-align: center;
  background-color: white;
  /* Para evitar sobreposição de conteúdo ao rolar a página */
  position: -webkit-sticky;
  /* Para suporte no Safari */
  position: sticky;
  /* Para outros navegadores */
  top: 0;
  /* Fixa o elemento ao topo da página */
  z-index: 1000;
  /* Para garantir que o elemento fique acima de outros conteúdos */
  margin: 0;
  padding: 10px 0;
  /* Adiciona um pouco de espaço ao redor do conteúdo do cabeçalho */
}

.colored {
  color: rgb(240, 112, 8);
  font-weight: 100;
}

.colored2 {
  color: rgb(240, 112, 8);
  font-weight: bolder;
}

h2 {
  font-weight: 1500;
  color: #0a6b4e;
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
}

/* Area do minha conta */

.account-text {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.account-box {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  /* Adiciona um cursor de apontar para indicar que é clicável */
}

.account-options {
  display: none;
  /*inicialmente esconde as opções de conta*/
  position: absolute;
  top: 30px;
  /*ajusta a posição vertical das opções*/
  right: 0;
  background-color: whitesmoke;
  /* Define a cor de fundo das opções */
  border: 2px solid #34b991;
  /* Adiciona uma borda às opções */
  padding: 5px;
  width: auto;
  align-items: center;
  justify-content: center;
}

.account-options a {
  display: inline;
  /* Faz com que os links sejam exibidos como blocos */
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  /* Adiciona espaço entre os links */
  font-weight: bold;
  font-size: 0.9em;
}

/* Remover sublinhado dos links */

a:link,
a:visited {
  text-decoration: none;
}

/* Remover a mudança de cor após o primeiro clique */
a:visited {
  color: inherit;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

/* Área de navegação */

main {
  text-align: center;
  margin-top: 50px;
}

.paragrafo-box0,
.paragrafo-box2 {
  background-color: rgb(238, 162, 99);
  padding: 20px;
  /* Adiciona um espaçamento interno */
  margin-bottom: 20px;
  /* Adiciona espaço abaixo de cada caixa de parágrafo */
  margin-right: 75px;
  margin-left: 75px;
  border-radius: 10px;
  /* Adiciona bordas arredondadas */
  font-size: 1.3em;
}

.paragrafo-box1 {
  background-color: #34b991;
  padding: 20px;
  /* Adiciona um espaçamento interno */
  margin-bottom: 20px;
  /* Adiciona espaço abaixo de cada caixa de parágrafo */
  margin-right: 75px;
  margin-left: 75px;
  border-radius: 10px;
  /* Adiciona bordas arredondadas */
  font-size: 1.3em;
}

/* Login e Registro de usuário */

main h3 {
  margin-bottom: 50px;
}

input[type="email"],
input[type="password"] {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.login {
  width: 50%;
  padding: 10px;
  background-color: #34b991;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.login:hover {
  background-color: rgb(238, 162, 99);
}

main p {
  margin-top: 20px;
}

#login-link {
  text-decoration: underline;
}

/* Formulário */

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(240, 112, 8);
  border-radius: 10px;
}

input[type="text"],
select,
input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

/* Página do cadastro */
#register-form input {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(240, 112, 8);
  border-radius: 5px;
  box-sizing: border-box;
}

/* ------------------- */
/* Página do login */
/* ------------------- */
.login-form input {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(240, 112, 8);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para o botão */
#register-form button {
  width: 50%;
  padding: 10px;
  background-color: #34b991;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* botão de submeter formulário */
.submission {
  padding: 16px 32px;
  background-color: rgb(240, 112, 8);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
}

.submission:hover {
  background-color: #0a6b4e;
}

/* botão de excluir */
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  color: rgb(184, 13, 13);
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
}

/* botão de editar */
.edit-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  color: rgb(67, 67, 230);
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
}


/* Redefinir senha */
.reset {
  width: 50%;
  padding: 10px;
  background-color: #34b991;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Rodapé */

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding-top: 50px;
}

/* Estilo para o container do catálogo */
/* Exibição dos livros */

#bookCatalog,
#results {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* Alinha os livros */
  margin-top: 50px;
  /* Adiciona um espaço superior para separar o catálogo do formulário */
  margin-left: 50px;
  margin-right: 50px;
  gap: 1em;
  align-content: flex-start;
}

#catalogo {
  /* background-color: rgb(171, 197, 182); */
  border: 2px solid #0a6b4e;
  border-radius: 10px;
  color: black;
  margin: 20px 50px;
}

.book,
.livro {
  position: relative;
  background-color: whitesmoke;
  border: 2px solid #0a6b4e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  width: 200px;
  height: 250px;
  max-width: 230px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 1em;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

.book h3,
.livro h3 {
  margin: 0.5em 0;
}

.book p,
.livro p {
  /* margin: 0.5em 0; */
  margin: 5px 0;
}

.livro .finalizado,
.book .finalizado {
  margin-bottom: 15px;
}

/* Css para o tooltip */
.tooltip {
  position: relative;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #34b991;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Estilo para os botões de filtro */
/* Estilos para o menu dropdown */
.dropdown,
.dropdownS {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropdown button {
  /* padding: 10px 20px; */
  /* margin: 0 10px; */
  width: 50px;
  height: 50px;
  background-color: #34b991;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  border: 1px solid #34b991;
  border-radius: 5px;
  /* min-width: 100px; */
  min-width: 160px;
  /* width: 80%; */
  /* max-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 5px 8px 5px;
}

.dropdown-content button {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 75%;
  border: none;
  background: none;
  text-align: center;
}

.dropdown-content button:hover {
  background-color: rgb(238, 162, 99);
  max-width: 80%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button-container {
  display: flex;
  gap: 40px;
  /* Espaço entre os botões */
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.dropdownS button {
  /* padding: 10px 20px; */
  /* margin: 0 10px; */
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  background-color: rgb(238, 162, 99);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-statistic {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  border: 1px solid rgb(238, 162, 99);
  border-radius: 5px;
  min-width: 160px;
  /* width: 93%; */
  /* max-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 5px 8px 5px;
}

.dropdown-statistic button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 75%;
  border: none;
  background: none;
  text-align: center;
}

.dropdown-statistic button:hover {
  background-color: #34b991;
  max-width: 80%;
}

.dropdownS:hover .dropdown-statistic {
  display: block;
}

/* Estilização básica do dialog */
dialog {
  width: 30%;
  max-width: 600px;
  border: solid 2px rgb(238, 162, 99);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: whitesmoke;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centralizar o dialog */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilização do conteúdo do dialog */
#booksReadCount,
#resultMessage,
#genreResultMessage {
  font-size: 16px;
  /* font-weight: bold; */
  margin-bottom: 20px;
  white-space: pre-line;
  text-align: justify;
}

/* Estilização do botão de fechar */
#closeDialog,
#closeResultDialog,
#closeGenreResultDialog {
  background-color: #34b991;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

#closeDialog:hover,
#closeResultDialog:hover,
#closeGenreResultDialog:hover {
  background-color: rgb(238, 162, 99);
}

/* botão de editar */
.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 13px;
}

#confirm-status-button {
  margin-top: 40px;
  background-color: #34b991;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#cancel {
  background-color: rgb(167, 11, 11);
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#edit-status-dialog label {
  display: block;
  /* Faz com que cada label ocupe uma linha separada */
  text-align: left;
  /* Alinha o texto à esquerda */
  font-size: 14px;
}



/* ---------------------------------------------- */
/* Estilos para telas menores, como celulares */
/* ---------------------------------------------- */

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
    color: #0a6b4e;
    font-size: 40px;
  }

  header h2 {
    font-weight: 1.5em;
    color: #0a6b4e;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }

  .account-box {
    display: flex;
    /*alinha os itens em uma linha */
    align-items: center;
    /*alinha verticalmente os itens no centro*/
    justify-content: center;
    /*centraliza os itens horizontalmente*/
    padding: 5px;
    /* Adiciona espaço ao redor do elemento */
    /* background-color: #34b991;  */
    border-radius: 5px;
    /* Borda arredondada para uma aparência mais suave */
    text-align: center;
    margin-top: 7px;
    /*Compensa o espaço ocupado pelo cabeçalho*/
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
  }

  .account-box i {
    font-size: 14px;
    /* Aumenta o tamanho do ícone */
    margin-right: 5px;
    /* Adiciona espaço entre o ícone e o texto */
  }

  .account-text {
    font-size: 12px;
    /* Aumenta o tamanho do texto */
  }

  .account-options {
    margin-top: 8px;
    /* Adiciona espaço acima das opções de conta */
    width: auto;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    display: none;
    position: absolute;
    align-items: center;
  }

  .paragrafo-box0,
  .paragrafo-box2 {
    background-color: rgb(238, 162, 99);
    padding: 20px;
    /* Adiciona um espaçamento interno */
    margin-bottom: 20px;
    /* Adiciona espaço abaixo de cada caixa de parágrafo */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 10px;
    /* Adiciona bordas arredondadas */
    font-size: 1em;
  }

  .paragrafo-box1 {
    background-color: #34b991;
    padding: 20px;
    /* Adiciona um espaçamento interno */
    margin-bottom: 20px;
    /* Adiciona espaço abaixo de cada caixa de parágrafo */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 10px;
    /* Adiciona bordas arredondadas */
    font-size: 1em;
  }

  /* .book,
  .livro {
    flex: 1 1 calc(50% - 1em); /* para dispositivos menores, 2 livros por linha */
  /* max-width: calc(50% - 1em); */
  /* } */
  .book,
  .livro {
    flex: 1 1 calc(100% - 1em);
    max-width: calc(100% - 1em);
  }

  .button-container {
    flex-wrap: wrap;
  }

  /* Estilização básica do dialog */
  dialog {
    width: 300px;
    max-width: 400px;
    border: solid 2px rgb(238, 162, 99);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Estilização do conteúdo do dialog */
  #booksReadCount,
  #resultMessage,
  #genreResultMessage {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: pre-line;
    text-align: justify;
  }
}

/* Modal styles  */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 35%;
  max-width: 600px;
  border: solid 2px rgb(238, 162, 99);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: whitesmoke;
  text-align: justify;
  font-size: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -120%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.instruction-text {
  margin-bottom: 20px;
  /* Espaço de 10px abaixo do texto */
}